.game-card {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.game-card-item {
    padding: 0 2rem;
    text-align: center;
    width: 30%;
}

.game-card-item h2 {
    font-size: 1.2rem;
}

.game-card-item h2 a  {
    text-decoration: none;
}

@media (max-width: 800px) {
    .game-card {
        flex-direction: column;
    }

    .game-card-item { 
        width: auto;
    }
}